
/* ------------------------------------------------- */
/* SETUP*/
/* ------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  background-color: #FCFCFC;
  /*color: #555;*/
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #FCFCFC;
  height: 100%;
  margin-bottom: -150px;
}

/* HEADINGS */

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #c4c4c4;
  font-size: 240%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 20px;
  word-spacing: 4px;
  transition: color .5s, transform 1s;
  /*background-color: rgba(255, 255, 255, .1)*/
  background-color: rgba(8,8,8,.5);
  padding: 4px;
  padding-bottom: 8px;
}

h2 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #c4c4c4;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size:150%;
  text-transform: uppercase;
}

.circle {
  color: #FF6929;
  font-size: 100%;
}

.your {
  color: #FF6929;
  font-size: 150%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1423768164017-3f27c066407f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=712b919f3a2f6fc34f29040e8082b6d9");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;

}

.headerTextBox {
  position: absolute;
  width: 100vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 500;
}

.buttonBox {
  position: absolute;
  width: 100vw;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 500;
}

.initBtn {
  margin: 30px;
  padding: 10px;
  padding-left: 10px;
  padding-right: 7px;
  color: #c4c4c4;
  background: transparent;
  font-size: 150%;
  font-weight: 400;
  text-decoration: none;
  border: .1rem solid #c4c4c4;
  border-radius: 4px;
}

.signUpButton {
  border-color: #FF6929;
}


.initBtn:link,
.initBtn:visited,
.initBtn:focus {
  text-decoration: none;
  color: #c4c4c4;
  transition: border .4s, color .4s, transform 1s;
}

.initBtn:hover,
.initBtn:active {
  text-decoration: none;
  color: #FF6929;
  border: 2px solid #FF6929;
}

nav {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(8,8,8,.7);
  height: 15vh;
}

nav h2 {
  font-size: 200%;
  padding-top: 20px;
}

.navButton {
  font-size: 140%;
  font-weight: 150;
  background: none;
  border: none;
  margin: 30px 30px;
  color: #c4c4c4;
  letter-spacing: 1px;
}

.navButton:link,
.navButton:visited {
  text-decoration: none;
  color: #FF6929;
}

.navButton:hover,
.navButton:active {
  text-decoration: none;
  color: #FF6929;
  border-bottom: .1rem solid #FF6929;
}

.propertyButton {
  height: 2rem;
  width: 30vw;
  font-size: 150%;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(8,8,8,.3);
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ------------------------------------------------- */
/* Check Boxes */
/* ------------------------------------------------- */

.checkboxes label {
  display: block;
  line-height: 2rem;
  padding-left: 15px;
  text-indent: -15px;
  vertical-align: middle;
  font-size: .8rem;
}

.checkboxes label input {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: 1px;
    *overflow: hidden;
}

input[type="checkbox"]{
  background-color: #FF6929;
  height: 20px;
  width: 20px;
}

.accountForm {
  position: absolute;
  top: 30%;
  left: 2%;
  overflow: hidden;
}

.accountForm h2 {
  color: rgba(8,8,8,.7);
  font-weight: 500;
}

.addAccountForm h2 {
  color: rgba(8,8,8,.7);
  font-weight: 500;
}

.addAccountForm {
  position: absolute;
  width: 70%;
  top: 30%;
  left: 30%;
  text-align: center;
}

.selectRow {
  margin-top: 1rem;
}

.finalSubmit {
  position: relative;
  top: 0;
  left: 0;
  padding: .2rem .2rem .2rem .2rem;
  height: 2rem;
  width: 70;
  font-size: 140%;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(8,8,8,.3);
  margin-top: 0;
  border-color: #FF6929;
  border-width: .15rem;
}

select {
   background: transparent;
   width: auto;
   height: 2.5rem;
   padding: 5px;
   font-size: 125%;
   line-height: auto;
   border: 0;
   border-radius: 4px;
   height: 34px;
   /*-webkit-appearance: none;*/
   border: 1px solid black;
   background-size: .5rem .5rem;
   background-position: 95%;
   margin-top: .5rem;
   }

.selectPhoto {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.optionText {
  font-size: .8rem;
}

.lineGraph .title h2 {
  color: rgba(8,8,8,.7);
  font-weight: 500;
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
}

.lineGraph {
  position: relative;
  max-height: 60em;
  /*min-height: 50em;*/
  width: 80%;
  margin-top: 1.5rem;
  text-align: left;
  margin-left: 10%;
}

/*.chart-container {
  position:relative;
  margin-bottom: 20rem;
}*/
/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }*/

.getGraphs {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
}

.selectAccounts{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(8,8,8,.7);
  font-weight: 500;
}

.submit {
  padding: .1rem .1rem .1rem .1rem;
  margin-left: 1rem;
  height: 2rem;
  width: 70;
  font-size: 140%;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(8,8,8,.3);
  margin-top: 1rem;
  border-color: #FF6929;
  border-width: .1rem;
}
