
<nav>

  <h2>  Living <span class="circle">•</span> Industry <span class="circle">•</span> Data</h2>

  <a class="navButton" href="https://lid.herokuapp.com/auth/google">Refresh With Google</a>
  <a class="navButton" href="#/user/profile">Connect My Websites</a>
  <a class="navButton" href="#/user/profile">View My Comparisons</a>
  <a class="navButton" href="#">Log Out</a>

</nav>

<!-- GET ACCOUNT PROPERTIES -->
<input class="propertyButton" type="button" name="name" value="Get Account Properties" ng-click="ac.account.search()">

<!-- CHECKBOXES -->
<div class="accountForm" ng-show="ac.accountSubmit">

    <h2>Check The Websites You Want To Connect</h2>

  <div class="checkboxes" >
    <label class="checkboxes" for="accountCheckBox" ng-repeat="items in ac.account.properties">
      <input class="accountCheckBox" type="checkbox" name="account_id" data-checklist-value="items" data-checklist-model="ac.account.ids">
      <span>{{items.url}} ({{items.id}})</span>
    </label>
  </div>
</div>


<!-- CONNECT SELECTED ACCOUNTS FORM -->
<div class="addAccountForm">
  <form name="myForm" ng-submit="ac.submitAccountsForm()" ng-show="ac.accountSubmit">

    <h2>Select Your Industry Identifiers</h2>


    <input class="finalSubmit" type="submit" name="name" value="Connect Selected Accounts"></input>



    <div class="selectRow" ng-repeat="item in ac.account.ids">
      <label>{{item.url}}</label>

      <input type="hidden" name="property_id" ng-init="ac.sites[item.url].account_id = item.id" ng-model="ac.sites[item.name].account_id">

      <input type="hidden" name="property_name" ng-init="ac.sites[item.url].account_name = item.url" ng-model="ac.sites[item.name].account_name">

      <!-- Select Industry -->
      <select name="industry_id" ng-model="ac.sites[item.url].industry" ng-class="{red : myForm.industry_id.$invalid}" ng-required="true" >
        <option value="" disabled selected>Select Industry</option>
        <option class="optionText" ng-repeat="industry in ac.industries" value="{{industry.id}}" >{{industry.id}}: {{industry.name}}</option>
      </select>

      <!-- Select Region -->
      <select name="region_id" ng-model="ac.sites[item.url].region" ng-required="true" >
        <option value="" disabled selected>Select Region</option>
        <option class="optionText" ng-repeat="region in ac.regions" value="{{region.id}}">{{region.id}}: {{region.name}}</option>
      </select>

      <!-- Select Monthly Budget_Range -->
      <select name="budget_id" ng-model="ac.sites[item.url].budget" ng-required="true" >
        <option value="" disabled selected>Select Monthly Marketing Budget</option>
        <option class="optionText" ng-repeat="budget in ac.budgets" value="{{budget.id}}">{{budget.id}}: {{budget.budget_range}} </option>
      </select>

    </div>

</form>
</div>

<footer class="site-footer"></footer>
