
<input type="button" name="name" value="Get Account Properties" ng-click="ac.account.search()">


<form name="myForm" ng-submit="ac.submitAccountsForm()">
  <label for="account_id" ng-repeat="items in ac.account.finder">
    <input type="checkbox" name="account_id" data-checklist-value="items" data-checklist-model="ac.account.ids">
    {{items.id}}
  </label>

  <br>

  {{ac.account.ids}}

  <br></br>

  <input type="button" name="name" value="SUBMIT">

</form>

{{ac.account.approved}}

<br>




<input type="button" name="getData" value="Get Core Data" ng-click="ac.account.data()">

<pre>
  {{ac.account.data}}
</pre>
