
<input type="button" name="name" value="Get Account Properties" ng-click="ac.account.search()">


  <label for="account_id" ng-repeat="items in ac.account.properties">
    <input type="checkbox" name="account_id" data-checklist-value="items" data-checklist-model="ac.account.ids">
    {{items.url}}
  </label>

  <br>
  <br>

  <form name="myForm" ng-submit="ac.submitAccountsForm()">

    <div ng-repeat="item in ac.account.ids">
      <label>{{item.url}} {{item.id}}</label>

      <input type="hidden" name="property_id" ng-init="ac.sites[item.url].account_id = item.id" ng-model="ac.sites[item.name].account_id">

      <input type="hidden" name="property_name" ng-init="ac.sites[item.url].account_name = item.url" ng-model="ac.sites[item.name].account_name">

      <!-- Select Industry -->
      <select name="industry_id" ng-model="ac.sites[item.url].industry" >
        <option value="" disabled selected>Select Industry</option>
        <option ng-repeat="industry in ac.industries" value="{{industry.id}}" >{{industry.id}}: {{industry.name}}</option>
      </select>

      <!-- Select Region -->
      <select name="industry_id" ng-model="ac.sites[item.url].region">
         <option value="" disabled selected>Select Region</option>
        <option ng-repeat="region in ac.regions" value="{{region.id}}">{{region.id}}: {{region.name}}</option>
      </select>

      <!-- Select Monthly Budget_Range -->
      <select name="industry_id" ng-model="ac.sites[item.url].budget">
         <option value="" disabled selected>Select Monthy Budget Range</option>
        <option ng-repeat="budget in ac.budgets" value="{{budget.id}}">{{budget.id}}: {{budget.budget_range}} </option>
      </select>

    </div>

  <input type="submit" name="name" value="SUBMIT">
</form>






<br>




<input type="button" name="getData" value="Get Core Data" ng-click="ac.account.data()">

<pre>
  {{ac.account.data}}
</pre>
