<!-- <form name="postForm" method="post">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" class="form-control" ng-model="firstName" ng-minlength="4" ng-class="{red : postForm.firstName.$invalid && postForm.firstName.$touched}" required />
    <p ng-show="postForm.firstName.$error.required && postForm.firstName.$touched">This is required... You idiot!</p>

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" class="form-control" ng-model="lastName" ng-minlength="4" ng-class="{red : postForm.lastName.$invalid && postForm.lastName.$touched}" required />
    <p ng-show="postForm.lastName.$error.required && postForm.lastName.$touched">This is required... You idiot!</p>

    <label for="username">Username</label>
    <input type="text" name="userName" class="form-control" id="" ng-model="userName" ng-minlength="6" ng-class="{red : postForm.userName.$invalid && postForm.userName.$touched}" required />
    <p ng-show="postForm.firstName.$error.required && postForm.firstName.$touched">This is required... You idiot!</p>
    <p ng-show="postForm.userName.$error.minlength && postForm.userName.$touched">Too Short!</p>

    <label for="password">Username</label>
    <input type="text" name="password" class="form-control" id="" ng-model="password" ng-minlength="6" ng-class="{red : postForm.userName.$invalid && postForm.userName.$touched}" required />
    <p ng-show="postForm.firstName.$error.required && postForm.firstName.$touched">This is required... You idiot!</p>
    <p ng-show="postForm.userName.$error.minlength && postForm.userName.$touched">Too Short!</p>


    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="" ng-model="email" ng-minlength="7" ng-class="{red : postForm.email.$invalid && postForm.email.$touched}" required />
    <p ng-show="postForm.email.$error.minlength && postForm.email.$touched">Too Short!</p>

    <input type="submit" name="submit" value="Submit">
    <h1 ng-show="!postForm.$error">SUBMISSION SUCCESSFUL!!!</h1>
  </div>
</form> -->
