<header>

  <div class="headerTextBox">

    <h1>Living <span class="circle">•</span> Industry <span class="circle">•</span> Data</h1>
    <h2>Compare <span class="your">YOUR</span> Google Analytics Data To <span class="your">YOUR</span> Specific Industry.</h2>


  </div>

  <div class="buttonBox">

    <a class="initBtn signUpButton" href="http://localhost:3000/auth/google">SIGN UP WITH GOOGLE</a>

    <a class="initBtn logInButton" href="http://localhost:3000/auth/google">LOG IN WITH GOOGLE</a>

  </div>


</header>

<footer class="site-footer"></footer>
