<nav>
  <h2>  Living <span class="circle">•</span> Industry <span class="circle">•</span> Data</h2>
  <a class="navButton" href="http://localhost:3000/auth/google">Refresh With Google</a>
  <a class="navButton" href="#/user/profile/">View My Comparisons</a>
  <a class="navButton" href="#/user/profile/">Connect My Websites</a>
</nav>



<form name="myForm" ng-submit="pc.coreData(pc.site); pc.industryData(pc.site)">

  <select name="account" ng-model="pc.site">
    <option value="" disabled selected>Select Account</option>
    <option ng-repeat="account in pc.allAccounts" value="{{account}}">{{account.account_name}}</option>
  </select>

  <input type="submit" name="name" value="SUBMIT">

</form>

<h3>pc.site: </h3>{{pc.site}}


<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Sessions</h2>
  </div>
  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.sessions"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Users</h2>
  </div>
  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.users"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">

  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Sessions Per User (Measured in Seconds)</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.sessionsPerUser"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>New Sessions</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.newSessions"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Pageviews</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.pageviews"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Pages Per Session</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.pagesPerSession"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Average Time On Site</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.atos"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<div class="lineGraph">
  <div class="title" ng-show="pc.show">
    <h2>Bounce Rate %</h2>
  </div>

  <canvas id="line"
    class="chart chart-line"
    chart-data="pc.bounceRate"
    chart-labels="pc.dates"
    chart-legend="true"
    chart-series="pc.series">
  </canvas>
</div>

<footer class="site-footer"></footer>
